.box {
    border: 1px solid black;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}


#first_box {
    margin-left:0px;
    background-color: red;
}

#second_box {
    margin-left: 30px;
    background-color: orange;
}

#third_box {
    margin-left: 60px;
    background-color: yellow;
}

#fourth_box {
    margin-left: 90px;
    background-color: green;
}

#fifth_box {
    margin-left: 120px;
    background-color: blue;
}

#sixth_box {
    margin-left: 150px;
    background-color: violet;
}


